<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderfocus.bootstraptabledemo.mapper.ItemMapper">

    <resultMap id="itemMap" type="com.coderfocus.bootstraptabledemo.entity.Item">
        <id property="id" column="id"/>
        <result property="itemName" column="item_name"/>
        <result property="itemPrice" column="item_price"/>
    </resultMap>

    <resultMap id="longMap" type="Long"/>


    <resultMap id="pageMap" type="com.coderfocus.bootstraptabledemo.dto.Page">
        <result property="total" column="total"/>
        <collection property="data" resultSet="data" ofType="com.coderfocus.bootstraptabledemo.entity.Item">
            <id property="id" column="id"/>
            <result property="itemName" column="item_name"/>
            <result property="itemPrice" column="item_price"/>
        </collection>
    </resultMap>

    <select id="pageQuery" resultSets="total,data" resultMap="pageMap">
        SELECT count(*) as total from items
        <where>
            <if test="price != null and price != ''">
                and item_price = #{price}
            </if>
        </where>;

        SELECT * FROM items
         <where>
             <if test="price != null and price != ''">
               and item_price = #{price}
             </if>
         </where>
         ORDER BY item_price limit #{offset},#{limit};
    </select>


    <select id="pageQueryByPageNumber" resultSets="total,data" resultMap="pageMap">
        <bind name="offset" value="(pageNumber-1)*pageSize"></bind>
        SELECT count(*) as total from items
        <where>
            <if test="price != null and price != ''">
                and item_price = #{price}
            </if>
        </where>;

        SELECT * FROM items
        <where>
            <if test="price != null and price != ''">
                and item_price = #{price}
            </if>
        </where>
        ORDER BY item_price limit #{offset},#{pageSize};
    </select>
</mapper>